<div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <input type="email" class="form-control" formControlName="username" required placeholder="username: name@example.com">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" formControlName="password" required placeholder="password: admin123">
                </div>
                <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary btn-block">Login</button>
                
                <button type="button" (click)="signup()" [disabled]="!loginForm.valid" class="btn btn-md btn-secondary animate-up-2" style="background-color: #42cbd9; border-color: #42cbd9;">
                                <i class="fas fa-paper-plane mr-2"></i> signup
                            </button>

                <button type="button" (click)="signout()" [disabled]="!loginForm.valid" class="btn btn-md btn-secondary animate-up-2" style="background-color: #42cbd9; border-color: #42cbd9;">
                    <i class="fas fa-paper-plane mr-2"></i> logout
                </button>
            </form>
</div>