<!DOCTYPE>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>

  <div class="container">
    <div class="row">
      <h2 style="text-align:center"><i>{{ title }}</i></h2>
      <div class="col" *ngIf="!(authService.user | async)">
        <input type="text" [(ngModel)]="emailAddress" placeholder="Enter email . . . ." required>
        <input type="password" [(ngModel)]="password" placeholder="Enter password . . . ." required>
        <button (click)="login()" [disabled]="!emailAddress || !password" class="btn btn-success btn-md">
          Login
        </button>
        <button (click)="signup()" [disabled]="!emailAddress || !password" class="spacing btn btn-primary btn-md">
          Signup
        </button>
      </div>

      <div class="success" *ngIf="authService.user | async">
        <h3>Welcome <i>{{ (authService.user | async)?.email }}</i>!</h3>
        <button (click)="logout()" class="btn btn-success btn-md">
          Logout
        </button>
      </div>
    </div>
    
    <div class="error" *ngIf="authService.err">
      <h5 class="text-danger">{{ authService.err }}</h5>
    </div>
  </div>

</body>

</html>